# Vagrant ignores
.vagrant
ubuntu-bionic-18.04-cloudimg-console.log
.kube-config

# Fluent Bit ignores
sidecar/out_gstdout/out_gstdout.h
sidecar/out_gstdout/out_gstdout.so
sidecar/var/

.vscode/*
!.vscode/snippets.code-snippets

# Kuttl test artifact dir
tests/_build

.kubeconfig
kubeconfig
