# permissions for end users to edit tailingsidecars.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tailingsidecar-editor-role
rules:
- apiGroups:
  - tailing-sidecar.sumologic.com
  resources:
  - tailingsidecars
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - tailing-sidecar.sumologic.com
  resources:
  - tailingsidecars/status
  verbs:
  - get
