receivers:
  filelog:
    include:
    - ${PATH_TO_TAIL}
    start_at: beginning
    storage: file_storage

exporters:
  file:
    path: /dev/stdout
    encoding: text_encoding

extensions:
  text_encoding:
  file_storage:
    directory: ${OTEL_FILE_STORAGE_PATH}

service:
  extensions:
    - text_encoding
    - file_storage
  telemetry:
    metrics:
      level: none
    logs:
      output_paths:
        - ${SIDECAR_OTEL_LOG_PATH}/otelcol.log
  pipelines:
    logs:
      exporters: [file]
      receivers: [filelog]
