receivers:
  filelog:
    include:
    - ${PATH_TO_TAIL}
    start_at: beginning
    storage: file_storage
    poll_interval: 1s
    operators:
      - type: file_output
        path: /dev/stdout
        format: "{{.Body}}\n"

exporters:
  nop:

extensions:
  file_storage:
    directory: ${OTEL_FILE_STORAGE_PATH}

service:
  extensions:
    - file_storage
  telemetry:
    metrics:
      level: none
    logs:
      output_paths:
        - ${SIDECAR_OTEL_LOG_PATH}/otelcol.log
  pipelines:
    logs:
      exporters: [nop]
      receivers: [filelog]
