apiVersion: tailing-sidecar.sumologic.com/v1
kind: TailingSidecar
metadata:
  name: tailingsidecar-sample
spec:
  configs:
    sidecarconfig:
      volume: varlogconfig
      path: /varconfig/log/example2.log
