name: PRs checks

on:
  pull_request:
    branches:
      - main
      - 'release-v[0-9]+.[0-9]+'

jobs:
  # markdownlint:
  #   runs-on: ubuntu-20.04
  #   steps:
  #     - uses: actions/checkout@v2.3.4
  #     - uses: actions/setup-ruby@v1
  #       with:
  #         ruby-version: '2.6'
  #     - name: install markdownlint
  #       run: gem install mdl
  #     - name: markdownlint check
  #       run: make markdownlint

  # yamllint:
  #   runs-on: ubuntu-20.04
  #   steps:
  #     - uses: actions/checkout@v2.3.4
  #     - name: install yamllint
  #       run: pip install yamllint
  #     - name: yamllint
  #       run: make yamllint

  # build-operator:
  #   name: Build tailing sidecar operator
  #   runs-on: ubuntu-20.04
  #   strategy:
  #     matrix:
  #       go: [ '1.16', '1.15', '1.14' ]
  #   steps:
  #     - uses: actions/checkout@v2.3.4
  #     - name: Setup go
  #       uses: actions/setup-go@v2
  #       with:
  #         go-version: ${{ matrix.go }}
  #     - name: Run tests for tailing sidecar operator
  #       working-directory: ./operator
  #       run: make test
  #     - name: Build tailing sidecar operator
  #       working-directory: ./operator
  #       run: make manager

  test-without-helm:
    name: Test resources created without Helm chart
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: imranismail/setup-kustomize@v1
      - uses: AbsaOSS/k3d-action@v1.4.0
        id: single-cluster
        name: Create single k3d Cluster with Registry
        with:
          cluster-name: "test-cluster1"
          use-default-registry: true
          network: k3d-cluster-network
          args: >-
            --agents 1
            --no-lb
            --k3s-server-arg "--no-deploy=traefik,servicelb,metrics-server"

      - name: Build and push tailing sidecar image
        working-directory: ./sidecar
        run: make TAG=registry.localhost:5000/sumologic/tailing-sidecar:test
      - name: Change tailing sidecar image in example Pod
        run: sed -i 's/localhost:32000\/sumologic\/tailing-sidecar:latest/registry.localhost:5000\/sumologic\/tailing-sidecar:test/g' sidecar/examples/pod_with_tailing_sidecars.yaml
      - name: Create Pod with sidecars
        working-directory: ./sidecar
        run: make deploy-examples
      - name: Wait for logs to be generated
        run: sleep 5
      - name: Check logs
        working-directory: ./sidecar
        run: make test-examples
      - name: Deploy cert-manager
        working-directory: ./operator
        run: make deploy-cert-manager
      - name: Build, push and deploy tailing sidecar operator
        working-directory: ./operator
        run: make IMG="registry.localhost:5000/sumologic/tailing-sidecar-operator:test" TAILING_SIDECAR_IMG="registry.localhost:5000/sumologic/tailing-sidecar:test"
      - name: Deploy examples
        working-directory: ./operator
        run: make deploy-examples
      - name: Deploy example with configuration in CR
        working-directory: ./operator
        run: make deploy-example-with-cr
      - name: Wait for logs to be generated
        run: sleep 5
      - name: Check logs
        working-directory: ./operator
        run: make test-examples
      - name: Deploy examples update
        working-directory: ./operator
        run: make deploy-examples-update
      - name: Deploy update for example with configuration in CR
        working-directory: ./operator
        run: make deploy-example-with-cr-update
      - name: Wait for logs to be generated
        run: sleep 5
      - name: Check logs after update
        working-directory: ./operator
        run: make test-examples-update

  # test-helm-chart:
  #   name: Test Helm chart
  #   runs-on: ubuntu-20.04
  #   timeout-minutes: 15
  #   steps:
  #     - uses: actions/checkout@v2.3.4
  #     - uses: imranismail/setup-kustomize@v1
  #     - uses: AbsaOSS/k3d-action@v1.4.0
  #       id: single-cluster
  #       name: Create single k3d Cluster with Registry
  #       with:
  #         cluster-name: "test-cluster2"
  #         use-default-registry: true
  #         args: >-
  #           --agents 1
  #           --no-lb
  #           --k3s-server-arg "--no-deploy=traefik,servicelb,metrics-server"
  #     - name: Add Helm
  #       uses: WyriHaximus/github-action-helm3@v2.1.3
  #     - name: Build and push tailing sidecar image
  #       working-directory: ./sidecar
  #       run: make TAG=registry.localhost:5000/sumologic/tailing-sidecar:test
  #     - name: Build tailing sidecar operator
  #       working-directory: ./operator
  #       run: make docker-build IMG="registry.localhost:5000/sumologic/tailing-sidecar-operator:test"
  #     - name: Push tailing sidecar operator
  #       working-directory: ./operator
  #       run: make docker-push IMG="registry.localhost:5000/sumologic/tailing-sidecar-operator:test"
  #     - name: Deploy Helm chart
  #       working-directory: ./helm
  #       run: helm upgrade --install test-release ./tailing-sidecar-operator -f tests/values.yaml -n tailing-sidecar-system --create-namespace
  #     - name: Wait for operator to be ready
  #       run: |
  #         kubectl wait --for=condition=available --timeout 300s deploy -l app.kubernetes.io/name=tailing-sidecar-operator -n tailing-sidecar-system
  #         kubectl wait --for=condition=ready     --timeout 300s pod   -l app.kubernetes.io/name=tailing-sidecar-operator -n tailing-sidecar-system
  #     - name: Deploy examples
  #       working-directory: ./operator
  #       run: make deploy-examples
  #     - name: Deploy example with configuration in CR
  #       working-directory: ./operator
  #       run: make deploy-example-with-cr
  #     - name: Wait for logs to be generated
  #       run: sleep 5
  #     - name: Check Pods
  #       run: kubectl get pods -n tailing-sidecar-system
  #     - name: Check logs
  #       working-directory: ./operator
  #       run: make test-examples
  #     - name: Deploy examples update
  #       working-directory: ./operator
  #       run: make deploy-examples-update
  #     - name: Deploy update for example with configuration in CR
  #       working-directory: ./operator
  #       run: make deploy-example-with-cr-update
  #     - name: Wait for logs to be generated
  #       run: sleep 5
  #     - name: Check logs after update
  #       working-directory: ./operator
  #       run: make test-examples-update

  # test-helm-chart-with-cert-manager:
  #   name: Test Helm chart with cert-manager
  #   runs-on: ubuntu-20.04
  #   timeout-minutes: 15
  #   steps:
  #     - uses: actions/checkout@v2.3.4
  #     - uses: imranismail/setup-kustomize@v1
  #     - uses: AbsaOSS/k3d-action@v1.4.0
  #       id: single-cluster
  #       name: Create single k3d Cluster with Registry
  #       with:
  #         cluster-name: "test-cluster3"
  #         use-default-registry: true
  #         args: >-
  #           --agents 1
  #           --no-lb
  #           --k3s-server-arg "--no-deploy=traefik,servicelb,metrics-server"
  #     - name: Add Helm
  #       uses: WyriHaximus/github-action-helm3@v2.1.3
  #     - name: Deploy cert-manager
  #       working-directory: ./operator
  #       run: make deploy-cert-manager
  #     - name: Build and push tailing sidecar image
  #       working-directory: ./sidecar
  #       run: make TAG=registry.localhost:5000/sumologic/tailing-sidecar:test
  #     - name: Build tailing sidecar operator
  #       working-directory: ./operator
  #       run: make docker-build IMG="registry.localhost:5000/sumologic/tailing-sidecar-operator:test"
  #     - name: Push tailing sidecar operator
  #       working-directory: ./operator
  #       run: make docker-push IMG="registry.localhost:5000/sumologic/tailing-sidecar-operator:test"
  #     - name: Deploy Helm chart
  #       working-directory: ./helm
  #       run: helm upgrade --install test-release ./tailing-sidecar-operator -f tests/values.withCertManager.yaml -n tailing-sidecar-system --create-namespace
  #     - name: Wait for operator to be ready
  #       run: |
  #         kubectl wait --for=condition=available --timeout 300s deploy -l app.kubernetes.io/name=tailing-sidecar-operator -n tailing-sidecar-system
  #         kubectl wait --for=condition=ready     --timeout 300s pod   -l app.kubernetes.io/name=tailing-sidecar-operator -n tailing-sidecar-system
  #     - name: Deploy examples
  #       working-directory: ./operator
  #       run: make deploy-examples
  #     - name: Deploy example with configuration in CR
  #       working-directory: ./operator
  #       run: make deploy-example-with-cr
  #     - name: Wait for logs to be generated
  #       run: sleep 5
  #     - name: Check Pods
  #       run: kubectl get pods -n tailing-sidecar-system
  #     - name: Check logs
  #       working-directory: ./operator
  #       run: make test-examples
  #     - name: Deploy examples update
  #       working-directory: ./operator
  #       run: make deploy-examples-update
  #     - name: Deploy update for example with configuration in CR
  #       working-directory: ./operator
  #       run: make deploy-example-with-cr-update
  #     - name: Wait for logs to be generated
  #       run: sleep 5
  #     - name: Check logs after update
  #       working-directory: ./operator
  #       run: make test-examples-update
